.grid-container {
  width: 250px;
  background-color: var(--darkgrey);
  border: 2px solid var(--darkgrey);
  border-radius: 1rem;
  cursor: pointer;
}
.grid-container:hover {
  border-color: var(--green);
  transition: all .3s;
}
.grid-container-red:hover {
  border-color: var(--red) !important;
  transition: all .3s;
}
.grid-container-light {
  background-color: var(--lightgrey);
  border: 2px solid var(--lightgrey);
}

.info-flex {
  display: flex;
  gap: 1rem;
  margin: 1rem 1.5rem;
}

.name-col {
  display: flex;
  flex-direction: column;
  gap: .2rem;
  align-content: center;
  margin-top: .5rem;
}

.coin-logo {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.coin-name {
  margin: 0;
  font-weight: 400;
  color: var(--grey);
  font-size: 0.8rem;
}

.coin-symbol {
  text-transform: uppercase;
  font-weight: 600;
  margin: 0rem;
}

.coin-symbol-light {
  color: var(--black);
}
.chip-flex {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  margin: 1rem 1.5rem;
}
.price-chip {
  border: 2px solid var(--green);
  border-radius: 2rem;
  padding: 0.35rem 1.25rem;
  text-align: center !important;
  font-weight: 600;
  color: var(--green);
  font-size: .8rem;

}

.price-chip:hover, .icon-chip:hover {
  background: var(--green);
  color: var(--white);
  transition: all .3s;
}

.chip-red {
  border: 2px solid var(--red)!important;
  color: var(--red) !important;
}

.chip-red:hover {

  background: var(--red) !important;
  color: var(--white) !important;
  transition: all .3s;
}

.icon-chip {
  border: 2px solid var(--green);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
  color: var(--green);
  font-size: 1rem;
}

.info-container {
  margin: 1.5rem;
}

.coin-price {
  color: var(--green);
  font-size: 1.2rem;
  font-weight: 600;
}

.total-volume {
  color: var(--white);
  font-size: .8rem;
  font-weight: 500;
}

.total-volume-light {
  color: var(--black);
}