.wrapper-dark {
    display: flex 1;
    padding: 5px 2rem;
    margin-top: 10px;
    border-radius: 20px;
    background-color: var(--darkgrey);
    color: white;
}

.wrapper-light {
    display: flex 1;
    padding: 5px 2rem;
    margin-top: 10px;
    border-radius: 20px;
    background-color: var(--lightgrey);
    color: black;
}

.coin-info-desc a {
    text-decoration: underline !important;
}

.coin-info-desc-light a {
    color: black !important;
}

.coin-info-desc {
    cursor: pointer;
}

.coin-info-desc a:hover {
    color: var(--blue) !important;
}
